<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wellness Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
    <div id="nav-bar-temp">
        <nav>
            <a href="/">Home</a> |
            <a href="./wellness.html">Wellness</a> |
            <a href="./blog.html">Blog</a> |
            <a href="./contact.html">Contact</a>
        </nav>

    </div>

    <h1> Wellness Portal</h1>

        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt culpa autem molestias. Ipsam nihil repudiandae facilis, error perferendis deserunt unde nobis recusandae accusamus, magni odio quod voluptate ad rerum dicta?</p>

    <h2> Categories</h2>

        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem blanditiis consequuntur id neque nobis odit ullam eum ipsum modi et? Recusandae quisquam repudiandae, blanditiis fuga tenetur quis eius repellendus. Delectus.</p>
        <img src="https://via.placeholder.com/150" alt="Kimey Robertson">
        <img src="https://via.placeholder.com/150" alt="Kimey Robertson">
        <img src="https://via.placeholder.com/150" alt="Kimey Robertson">





    <footer>
        Copyright Kimey Robertson 2019. <br> Website Created by <a href="http://www.lukedturner.com">Luke Turner </a>
    </footer>
    </body>

    
</html>